*{margin: 0px; padding: 0px; box-sizing: border-box;}

body{
    background-color: aqua;
}

div{
    display: flex;
    justify-content: center;
    position: relative;
    top: 120px;
}

div h1{
    background-color: orange;
    border-radius: 80px;
    padding: 40px;
    font-size: 80px;
    
}