*{margin: 0px; padding: 0px; box-sizing: border-box;}

body{
    background-color: aqua;
}

div{
    display: flex;
    justify-content: center;
    position: relative;
    top: 110px;
}

h1{
    font-size: 70px;
    background-color: orange;
    border-radius: 80px;
    padding: 45px;
    color: antiquewhite;
}